{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blog{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <div class="container navbar">
        <h2 class="logo">BlogSpace</h2>

        <nav>
            <a href="/">Home</a>
            <a href="#">Categories</a>
            <a href="#">About</a>
        </nav>
    </div>
</header>

<main class="container">
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>© 2026 BlogSpace</p>
</footer>

</body>
</html>